.day-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;

    .bar-container {
        height: 70%;
        position: relative;
        .bar {
            background-color: green;
            width: 100%;
            position: absolute;
            bottom: 0;
            border: 1px solid White;
            p {
                top: 0%;
                left: 50%;
                transform: translate(-50%, -100%);
                position: absolute;
            }
        }
        .red {
            background: linear-gradient(21deg, rgba(249,64,64,1) 0%, rgba(250,154,154,1) 50%, rgba(251,78,78,1) 100%);
        }
        .green {
            background: linear-gradient(21deg, rgba(33,171,23,1) 0%, rgba(132,249,122,1) 50%, rgba(17,189,3,1) 100%);
        }
        .purple {
            background: linear-gradient(21deg, rgba(112,23,171,1) 0%, rgba(210,153,247,1) 50%, rgba(178,68,250,1) 100%);
        }
    }
}