.calendar {
    height: 100%;
    position: relative;
    padding: 0 1rem;
    &__container {
        height: 72.5%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: .25rem;
        position: relative;
    }
}