#enterGram {
    display: none;
}
.enterGram {
    display: none;
}

.messege_container {
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    background-color: aliceblue;
    width: 15rem;
    height: 5rem;
    display: none;
}

.none {
  display:none;
}

.inline {
  display: inline;
}

.amountSetter {
  display: flex;

  &__button {
    background: none;
    border: none;

    &:hover {
      cursor: pointer;
    }
  }
}