@import "../src/views/userAgreement/userAgreement.scss";
@import "../src/views/intro/intro.scss";
@import "./views/userInformation/userInfo.scss";
@import "./views/addUserFood/addUserFood.scss";
@import "../src/views/home/home.scss";
@import "../src/views/favorites/favorites.scss";
@import "../src/views/list/list.scss";
@import "../src/views/calendar/calendar.scss";
@import "../src/views/graph/graph.scss";
@import "../src/views/login/login.scss";

@import "../src/components/header/header.scss";
@import "../src/components/navbar/navbar.scss";
@import "./components/foodList/foodList.scss";
@import "./components/userFavorites/userFavorites.scss";
@import "./components/mealItem/mealItem.scss";
@import "./components/progressBar/progressBar.scss";
@import "./components/setBarProgressForm/setBarProgressForm.scss";
@import "./components/mealItem/servingItem/servingItem.scss";
@import "./components/weekSummaryContainer/weekSummaryContainer.scss";
@import "./components/weekSummaryContainer/dayContainer/dayContainer.scss";
@import "./components/hamburger/hamburger.scss";
@import "./components/menu/menu.scss";
@import "./components/navbar/navItem/navItem.scss";
@import "./components/menuItem/menuItem.scss";

html {
  font-size: 18px;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

.btn-main {
  font-size: 1.25rem;
  padding: .2rem 2rem;
  border: 2px solid #2058AE;
  border-radius: .5rem;
  background: linear-gradient(0deg, rgba(144, 199, 240, .7) 0%, rgba(255, 255, 255, 1) 100%);
  cursor: pointer;
}