.set-bar-progress-form {
    background: linear-gradient(135deg, rgba(183,214,242,1) 0%, rgba(255,255,255,1) 50%, rgba(183,214,242,1) 100%);
    padding: 1rem;
    form {
        display: flex;
        gap: .5rem;
        input {
            direction: rtl;
        }
    }
}