.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
    padding: 5rem 0;
}

.flex {
    display: flex;
}

:root {
    --border: linear-gradient(127deg, rgba(212, 237, 254, 1) 0%, rgba(48, 167, 250, 1) 100%);
}

.header__display {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 100%;
    width: 100%;

    .header__actions {
        button {
            background: none;
            border: none;
            cursor: pointer;

            img {
                width: 3.5rem;
            }
        }
    }

}

.circle {
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 50%;
    border: 5px solid rgb(147, 202, 250);
    background: linear-gradient(135deg, rgba(255, 255, 255, 1) 0%, rgba(158, 214, 253, 1) 50%, rgb(38, 161, 249) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.47);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.47);

    &__icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        &--big{
            img {
                width: 4rem;
            }
        }

        img {
            width: 2.25rem;
        }
        p{
            text-align: center;
            color: green;
            font-size: 1.5rem;
            font-weight: 500;
        }
    }

    &__title {
        &__text {
            color: rgb(2, 73, 173);
            font-weight: 600;
        }
    }
    .circle__title__text--green {
        color: green;
    }
}

.circle:active,
.circle:hover {
    opacity: .85;
}