.home {
    height: 100%;
    position: relative;
    padding: 0 1rem;

    &__container {
        height: 80%;
        display: flex;
        flex-direction: column;
        gap: .25rem;
        position: relative;

        .user_message {
            background-color: rgba(158, 215, 253, 0.8);
            height: 20rem;
            width: 20rem;
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;

            h3 {
                font-size: 2rem;
            }
        }
    }

    .progress-bar {
        position: absolute;
        bottom: 0%;
        padding: 1rem;
    }

    .set-bar-progress-form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}



.add-meal-container {
    position: absolute;
    width: 10rem;
    padding: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #5171a9;
    border-radius: .5rem;
    background: linear-gradient(135deg, rgba(183, 214, 242, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(183, 214, 242, 1) 100%);
    z-index: 1;
}

.add-meal {
    &__form {
        direction: rtl;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        &__buttons {
            display: flex;

            button {
                flex: 1;
            }
        }
    }
}