.home {
    height: 100%;
    position: relative;

    &__container {
        height: 80%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: .25rem;
        position: relative;
    }

    .progress-bar {
        position: absolute;
        bottom: 0%;
        padding: 1rem;
    }

    .set-bar-progress-form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}
.menu-screen {
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .menu__logo {
        padding: .25rem 1rem;
        img {
            width: 100%;
        }
    }
    .menu__items {
        display: grid;
        grid-template-columns: auto auto;
        flex: 11;
        place-items: center;
    }
}


.add-meal-container {
    position: absolute;
    width: 10rem;
    padding: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #5171a9;
    border-radius: .5rem;
    background: linear-gradient(135deg, rgba(183, 214, 242, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(183, 214, 242, 1) 100%);
}

.add-meal {
    &__form {
        direction: rtl;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        &__buttons {
            display: flex;

            button {
                flex: 1;
            }
        }
    }
}