.material-symbols-outlined {
  font-variation-settings:
    'FILL'0,
    'wght'400,
    'GRAD'0,
    'opsz'48
}


.fill {
  font-variation-settings:
    'FILL'1,
    'wght'400,
    'GRAD'0,
    'opsz'48
}

.foodList-favorites {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 72.5%;
  background-color: rgba(255, 255, 255, .9);
  &::-webkit-scrollbar {
    display: none;
  }
}