.meal-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #eee;
    cursor: pointer;

    &__serving-item {
        display: flex;
        justify-content: space-between;
    }
    
    &__content{
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    direction: rtl;
}
